pip==20.0.2
keyring==18.0.1
setuptools==45.2.0
requests==2.22.0
dateparser==1.1.0
bs4==0.0.1
beautifulsoup4==4.10.0
python-dotenv==0.19.2
systemd-python==234
git+https://github.com/Pycord-Development/pycord
APScheduler==3.9.1
https://github.com/qwertyquerty/pypresence/archive/master.zip
regex==2022.3.2